<div class="newday is-off">
  <h3>Add a day:</h3>
  <form action='/days' method='post' autocomplete='off'>
    <input class='field clearfix' type='date' min='<%= today %>' name='day[date]'>
    <input class='button' type='submit' value='ADD'>
  </form>
</div>