<!-- <div id="tasklist">
</div>

<script type="text/javascript">

  $(function () {
    var that = this;

    that.tasks = <%= Task.all.to_json.html_safe %>;  // scope??

    window.TD.initialize(
      $("#tasklist")[0],
      window.days
    );

  })

</script> -->