<section class="tasklist">
  <% _.each(tasks.models, function (task) { %>
    <% if (task.get("due_date") === null) { %>
      <% var dueDate = ""; %>
    <% } else { %>
      <% var dueDate = ", due " + task.get("due_date"); %>
    <% } %>

     <% if (task.get("completed") === true) { %>
       <% var classes = "task strikethrough"; %>
     <% } else { %>
       <% var classes = "task"; %>
     <% } %>

    <article class="<%= classes %> task" id="<%= task.get("id") %>">
      <%= task.get("name") %><%= dueDate %>
    </article>
  <% }); %>
</div>


