<div class="newtask" style="display:none">
  <form action='/days/<%= dayId %>/tasks' method='post'>
    <input class='field' type='text' name='task[name]'>
    <input class='field' type='date' name='task[due_date]'>
    <input class='completed' type='hidden' name='task[completed]' value='false'>
    <input class='button' type='submit' value='ADD TASK'>
  </form>
</div>