<div id="newtask">
  <form action='/days/<%= dayId %>/tasks' method='post'>
    <input type='text' name='task[name]'>
    <input type='date' name='task[due_date]'>
    <input type='submit' value='ADD TASK'>
  </form>
</div>