body {
  background-color: #E6E6CE;
  margin: 0;
  padding: 0;
}

#container {
  color: #333;
  width: 500px;
  margin: 20px auto;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 30px -2px #AAA;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

h3 {
  font-family: Bevan;
	font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}

.day {
  margin: 20px;
  padding: 35px 0px 0px 0px;
}

.newday {
  padding-bottom: 25px;
}

.tasklist {
  display: inline-block;
  font-size: 18px;
  font-family: Copse;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 20px;
}

article.task {
/*  float: left;
  clear: left;*/
  padding-top: 5px;
  cursor: default;
}

/*.revealform {
  color: #BBB;
  margin: 20px auto 0px auto;
}*/

.task {
  color: #666666;
}

.newtask {
  padding-bottom: 15px;
}

.day {
  font-size: 20px;
  font-family: Bevan;
	font-weight: 400;
/*  color: #AEBAC6;*/
  color: #FF4930;
  line-height: 20px;
  border-top: 2px dotted #CCC;
}

.field {
  background-color: #EEE;
  border: 1px solid #CCC;
  width: 300px;
  height: 30px;
  margin: 5px auto;
  padding: 8px;
  font-size: 20px;
  border-radius: 8px;
  font-family: Copse;
}

select {
  font-family: Copse;
}

.button {
  width: 100px;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  color: #999;
  background-color: white;
  font-family: Bevan;
	font-weight: 400;
  box-shadow: inset 0px -6px 10px 2px rgba(200,200,200,0.5);
}

.button:hover {
/*  background-color: #58AD53;*/
  background-color: yellow;
  color: #333;
}

h1 {
  font-family: Bevan;
  font-size: 72px;
	font-weight: 400;
}

h2 {
  margin: 10px 0px 0px 0px;
  cursor: default;
	font-family: Bevan;
	font-weight: 400;
}

.strikethrough {
  text-decoration: line-through;
}

.is-off {
  display: none;
}

